[user]
  name = mattlm
  email = matthew@mattlm.com

[color]
  ui = auto
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[core]
  editor = vim
  # https://github.com/so-fancy/diff-so-fancy
  #pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
