[user]
  name = mattlm
  email = matthew@mattlm.com

[color]
  ui = auto
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[core]
  editor = vim
  # https://github.com/so-fancy/diff-so-fancy
  #pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
